language: node_js
node_js:
  - 16
cache:
  directories:
    - node_modules
script:
  - yarn build
  - yarn export
  - touch out/.nojekyll
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $github_token
  local_dir: out
  on:
    all_branches: true
    condition: $TRAVIS_BRANCH =~ ^main$
