.cell {
  user-select: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 35px;
  max-width: 10px;
  max-height: 10px;
  font-size: 28px;
  transition: transform 250ms, background-color 700ms;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.bomb {
  opacity: 0.7;
}

.covered-light {
  background-color: #aad751;
}

.covered-dark {
  background-color: #a2d149;
}

.uncovered-light {
  background-color: #e5c29f;
}

.uncovered-dark {
  background-color: #d7b899;
}

.blur {
  transition: 500ms;
  filter: blur(3.5px);
  pointer-events: none;
}

.bomb {
  transition: 700ms;
}

.tl {
  border-top-left-radius: 15px;
}

.br {
  border-bottom-right-radius: 15px;
}

.tr {
  border-top-right-radius: 15px;
}

.bl {
  border-bottom-left-radius: 15px;
}

.cell:hover {
  z-index: 1;
  filter: brightness(120%);
  transform: scale(1.2);
}

.invisible {
  transform: scale(0);
  transition: 200ms;
}

.visible {
  transform: scale(1);
  transition: 200ms;
}

.bomb-1 {
  color: blue;
}

.bomb-2 {
  color: green;
}

.bomb-3 {
  color: red;
}

.bomb-4 {
  color: purple;
}

.bomb-5 {
  color: orange;
}

.bomb-6 {
  color: blueviolet;
}

.bomb-7 {
  color: coral;
}

.bomb-8 {
  color: aqua;
}

.remaining {
  text-align: center;
  font-size: 40px;
  margin-top: 45px;
}
